<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="{{ path('admin_browse') }}"><img src="{{ asset('logo.svg') }}" class="img-fluid" width = "70px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_browse') }}">Administrateurs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('volunteer_browse') }}">Bénévoles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('beneficiary_browse') }}">Bénéficiaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('back_proposition_browse') }}">Proposition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('back_request_browse') }}">Demandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('back_category_browse') }}">Catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('back_department_browse') }}">Départements</a>
      </li>
    </ul>
  </div>
</nav>