{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block admin %}active{% endblock %}

{% block body %}

   <h1>{{ admin.firstname }} {{ admin.lastname }}</h1>


    <p>Email : {{ admin.email }}</p>
    <p>Téléphone : {{ admin.phoneNumber }}</p>
    <p>Image : {{ admin.picture }}</p>
    <p>Département : {{ admin.department }}</p>
    <p>Biographie : {{ admin.bio }}</p>

    <a class="btn btn-sm btn-success" href="{{ path('admin_browse') }}">retour</a>
{% endblock %}

